@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminar estilos innecesarios de :root */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mejorar enlaces */
a {
  font-weight: 500;
  color: #627d52; /* Verde Oliva */
  text-decoration: none;
}
a:hover {
  color: #3F5E3F; /* Verde más oscuro */
}

/* Resetear Body para usar Tailwind */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F7F5EB; /* Fondo crema */
  color: #3F5E3F; /* Verde oscuro */
}

/* Quitar estilos predefinidos de botones (usar Tailwind en su lugar) */
button {
  all: unset; /* Elimina estilos por defecto */
}

html {
  scroll-behavior: smooth;
}
